.fieldsetdiv {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
form {
	width: 50%;
}

#personal1_post, #personal1_get {
	height: 300px;
	padding-top: 10px;
}

textarea {
	width: 30%;
	height: 100px;
}

#personal2_post, #personal2_get {
	height: 300px;
}
hr {
	margin: 20px 0px 20px 0px;
}

#contact_post, #contact_get {
	height: 100px;
	padding: 10px 0px 10px 0px;
}

#formend_post, #formend_get {
	height: 50px;
	padding: 10px 0px 10px 0px;
}

.buttons {
	margin: 15px 0px 0px 0px;
}

body {
	display: flex;
	flex-direction: row;
}