@import url('styles/header.css');
@import url('styles/main.css');
@import url('styles/footer.css');
@import url('styles/menu.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto, sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}